//*****************
// Color Variables
//*****************

$primary-color: #000000;
$secondary-color: #606669;
$tertiary-color: #0059bf;

//*****************
// Typography
//*****************

$font-primary: "Times New Roman", Times, serif;
$font-secondary: "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;